@tailwind base;
@tailwind components;
@tailwind utilities;
/* change the colors */


body {
  font-family: sans-serif;
  color: #6E6D6E !important;
}

.app-body {
  padding-top:4em
}

a {
  text-decoration: none;
  color: #6E6D6E !important
}

label {
  display: block;
}


form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 30em
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  border: 2px solid black;
  padding: 10px;
}

#products {
 display: flex;
 flex-wrap: wrap;
 padding: 10px;
}

.single-product-container {
  display: flex;
}

.product-info {
  padding: 20px;
}

/* Landingpage/Homepage */

.carousel-item {
  transition: opacity 2s ease-in-out !important;
}

.carousel-item img {
  height: 650px !important;
}

.home-card {
  padding: 2rem;
  width: 70%;
  background-color: #FAF9F6 !important;
  opacity: 90%;
}

.home-card:hover {
  opacity:100%;
  background-color: rgba(255, 255, 255, 0.918) !important
}
.home-col {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.home-row {
  padding: 0 10%
}

.featured-heading {
  text-align:center;
  padding: 2%
}

.all-product-button {
  padding: 4% 4% 2% 4%;
}

.homepage {
  padding-bottom: 3%;
  background-image: linear-gradient( #DFDACD,#FAF9F6 );
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */

.nav-parent {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5%;
  background: #DAE3E6;
  position: fixed;
  z-index: 2;
  width:100%;
  opacity:95%
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 15px;
}

nav a:hover {
  font-weight:bold;
  text-decoration: none;
}

.nav-brand {
  padding-top: 0.5%
}

/* Admin All Orders  */

#admin-orders {
  padding-top:25px
}

.all-orders-table, .admin-orders-filter {
  padding:2%;
  width: 50% !important;
  margin-left:auto;
  margin-right:auto
}

/* Review form */
.add-review-form{
  display:flex;
  flex-direction: column;
  padding: 2% 30%;
  margin-left:auto;
  margin-right:auto
}

.review-form-product {
  width:500px
}

.review-btn {
  width: 9rem;
  margin-left:auto;
  margin-right:auto
}
