@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'moontimeregular';
  src: url('/fonts/moontime-regular-webfont.woff2') format('woff2'),
       url('/fonts/moontime-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'glacial_indifferenceregular';
  src: url('/fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
       url('/fonts/glacialindifference-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'glacial_indifferenceitalic';
  src: url('/fonts/glacialindifference-italic-webfont.woff2') format('woff2'),
       url('/fonts/glacialindifference-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 30em
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.signupImg {
  max-width: 45%;
  height: auto;
  margin: auto;
  padding: 10px;
}

.signup-area-div {
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 60%;
}

#products {
 display: flex;
 flex-wrap: wrap;
 padding: 10px;
}

.single-product-container {
  display: flex;

}

.padding20 {
  padding: 20px 0px;
}

.product-info {
  padding: 20px;
}

.moontime {
  font-family: "moontimeregular";

}
.reviews-container {
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 30px;

}
.glacial {
  font-family: 'glacial_indifferenceregular' ;
}

.carousel-item {
  transition: opacity 2s ease-in-out !important;
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);

}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
